<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>My Node App</title>

  <style>
    body {
      height: 100%;
      background-color: #f2f2f2;
    }

    .grid-square {
      list-style: none;
      padding: 0;
      margin: 0 auto;
      text-align: center;
      width: 100%;
    }

    .grid-square li {
      display: inline-block;
      margin: 5px 5px 5px 5px;
      vertical-align: top;
      width: 210px;
      height: 210px;
      background-color: rgb(0, 250, 250);
      transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -webkit-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
    }

    .grid-square li>a,
    .grid-square li>a img {
      width: 100%;
      border: none;
      outline: none;
      display: block;
      position: relative;
      transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -webkit-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
    }

    .grid-square li:hover {
      border-radius: 50%;
      z-index: 999;
    }

    .animated {
      -webkit-animation-duration: 1s;
      -moz-animation-duration: 1s;
      -o-animation-duration: 1s;
      animation-duration: 1s;
      -webkit-animation-fill-mode: both;
      -moz-animation-fill-mode: both;
      -o-animation-fill-mode: both;
      animation-fill-mode: both;
    }

  
  </style>

</head>

<body>
  <div class="container">
    <div class="jumbotron">
      <h1 class="display-4">My Node App</h1>
      <p class="lead">This app has been viewed: <%= counter %> times</p>
      <hr class="my-4">
      <p>This app uses a Redis database to count number of views, and a MongoDB to track adding items to the page!</p>
      <p>Try adding some items below:</p>

      <form method="post" action="/item/add">
        <div class="form-group">
          <label for="name"><b>Item Name:</b></label>
          <input type="text" class="form-control" name="name">
        </div>
        <input type="submit" class="btn btn-primary" value="Add">

      </form>
    </div>
  </div>

  <div class="container">
    <h4 style="text-align: center;"> There are <%= totalItems %> total items</h4>
    <div id="portfolio">
      <ul class="grid-square animated">
        <% items.forEach(function(item) { %>
        <li>
          <p style='color:white; margin-top: 30px;'><b><%= item.name %></b></p>
        </li>
        <% }); %>
      </ul>
    </div>
    <ul>
      <li>
      </li>
    </ul>
  </div>


  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>